<main id="root">

  <script type="text/javascript">
    window.loginImg = "<%= image_url('login_abstract.png') %>"
    window.catImg = "<%= image_url('cash-mgmt-coming.png') %>"
  </script>

  <% if logged_in? %>
    <script type="text/javascript">
      window.currentUser = <%= render(
        "api/users/user.json.jbuilder",
        user: current_user
      ).html_safe %>
    </script>
  <% end %>

</main>
