.chart-container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 100%;
}

.linechart {
    max-width: 100%;
}

.chart-container h1 {
    display: flex;
    align-items: center;
    max-width: 497px;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -0.29px;
    margin-top: 2%;
    margin-bottom: 3%;
}

.name-price{
    margin-top: 5%;
    margin-bottom: 10%;
}

.price{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
}

.price h1 {
    font-size: 33px;
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1;
    margin-right: 0.25%;
}


