.chart-form {
    width: 100%;
    display: flex;
    flex-direction: horizontal;
}

.chart-container {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-bottom: 2%;
    border-bottom: 2px solid #EEF1F7;
}

.buy-sell-info{
    display: block;
    position: fixed;
    right: 10%;
    width: 18%;
    min-width: 175px;
    min-height: 40%;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.089);
}

.invalid-buy-credentials {
    border-top: 2px solid #EEF1F7;
    display: flex;
    flex-direction: column;
}

.error-text {
    margin-top: 2%;
}

.invalid-buy-credentials div {
    margin-top: 7%;
}

.invalid-buy-credentials p {
    margin-top: 4%;
    font-size: 11px;
}

.buy-sell-info button:focus{
    outline:0;
}

.buy-sell-but {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid Gainsboro;
}

.error-buttons button {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-size: 12px;
    border-radius: 5px;
}

.deposit {
    background: #21ce99;
    color: white;
    border: none;
}

.back {
    background: white;
    color: #21ce99;
    border: 1px solid #21ce99;
}

.buy-sell-but button {
    width: 50%;
    height: 40px;
    background: transparent;
    font-size: 15px;
    font-weight: 500;
    color: #040D14;
    border: none;
}

.bs-form {
    height: 100%;
    padding-left: 7%;
    padding-right: 7%;
}

.bs-form label {
    font-size: 12px;
}


.buy-sell-but button:active {
    background-color: #21ce99;
}

.buy-sell-but button:focus {
    background-color: #21ce99;
} 

.shares {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    align-items: center;
}

.shares input {
    margin-top: 5%;
    height: 30px;
    width: 30%;
    border: none; 
    background: #fafafa;
    border-radius: 5px;
    text-align: right; 
    padding-right: 5%;
}

.shares input:hover {
    border: 1px solid #21ce99;
}

.shares input:focus {
    outline: none;
    border: 1px solid #21ce99;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.market-price {
    margin-top: 7%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    border-bottom: 1.5px solid #EEF1F7;
}

.estimated-cost {
    margin-top: 6%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin-bottom: 5%;
}

.review-order {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: #21ce99;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    border: none;
}

.review-order:hover {
    border: 1px solid #199972;
    background-color: #1aa278;
}

.review-order:focus{
    outline: 0;
}

.buying-power {
    margin-top: 10%;
    margin-bottom: 3%;
    height: 10%;
    display: flex;
    justify-content: center;
    font-weight: 600;
    border-top: 1.5px solid #EEF1F7;
}

.buying-power label {
    margin-top: 5%;
}

.linechart {
    max-width: 100%;
    position: fixed;
}

.recharts-responsive-container {
    width: 100%;
}

.recharts-wrapper {
    width: 50%;
}

.recharts-surface {
    display: flex;
    align-content: center;
}

.chart-container h1 {
    display: flex;
    align-items: center;
    max-width: 497px;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -0.29px;
    margin-bottom: 2%;
    color: #040D14;
}

.timeframe-buttons {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;

}

.timeframe-buttons button {
    border: none;
    font-family:  "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    background: none;
    color: #040D14;
    font-weight: 600;
    font-size: 14px;
}

.timeframe-buttons button:hover {
    color: #21ce99;
}

.timeframe-buttons button:active {
    color: #21ce99;
}

.timeframe-buttons button:focus {
    outline: 0;
    color: #21ce99;
}

.name-price{
    margin-top: 5%;
    margin-bottom: 15%;
}

.price{
    display: flex;
    flex-direction: row;
    height: 45px;
    align-content: baseline;
}

.dollar-sign {
    font-size: 33px;
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
    color: #040D14;
}

.price-change {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 20px;
}

.price-change h3 {
    margin-right: 2%;
    color: #040D14;
}

.price-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.price-info h3{
    font-size: 15px;
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 500;
    line-height: 1;
    color: #040D14;
}


