html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

input, h1, p, div {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1200px) {
    #logo-header {
        display: none !important;
    }
}

#logo-header {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 2%;
  margin-left: -22%;
  padding: 0;
  position: absolute;
  width: 200px;
  position: fixed;
}

#logo-header:focus {
  outline: none;
}

#logo-header:hover {
  color: #21ce99;
}

#logo-header{
  font-weight: 400;
  font-size: 22px;
}

.fa-money-bill {
  margin-right: 3%;
}

#root {
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 19px;
    -webkit-text-size-adjust: none;
    margin: 0;
    padding: 0;
}