html {
    /* margin: 0; */
    /* padding: 0; */
    /* border: 0; */
    /* border: 5px solid green; */
    margin: 10px solid yellow;
    padding: 0;
}

#root {
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 19px;
    -webkit-text-size-adjust: none;
    margin: 0;
    padding: 0;
}