html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

input, h1, p, div {
  margin: 0;
  padding: 0;
}

#root {
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 19px;
    -webkit-text-size-adjust: none;
    margin: 0;
    padding: 0;
}