.nav-bar {
    padding-top: 1%;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: white;
    z-index: 10;
}

.splash-header {
    margin-left: 10%;
    margin-right: 3%;
}

.esther-links {
    display: flex;
    align-items: baseline;
    width: 100%;
    height: 60px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.links-buttons {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.esther-links a, .login-redirect-button {
    font-size: 16px;
    color: #140d14;
    letter-spacing: 0.32px;
    font-weight: 800;
    text-decoration: none;
}

.login-signup-buttons {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    width: 200px;
    margin-right: 10%;
    z-index: 1;
}

.login-redirect-button {
    border: none;
    margin-right: 15%;
}

.login-redirect-button:focus {
    outline: 0;
}

.signup-redirect-button:focus {
    outline: 0;
}

.signup-redirect-button {
    padding: 0 24px;
    background-color: #21ce99;
    border: 0;
    color: #fff;
    border-radius: 36px;
    height: 48px;
    font-size: 17px;
    font-weight: 600;
}

.signup-redirect-button:hover {
    box-shadow: 2.5px 2px 4px 2px rgb(226, 226, 226);
    transition: background-color 300ms, box-shadow 300ms;
    transition-property: background-color, box-shadow;
    transition-duration: 300ms, 300ms;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}

.login-redirect-button:hover {
    color: #21ce99;
}

#linkedin:hover, #github:hover {
    color: #21ce99;
}

.personal-links {
    width: 100%;
}

#linkedin {
    margin-right: 5%;
}

.splash-header {
  background: none;
  border: none;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 0;
}

.splash-header:focus {
  outline: none;
}

.splash-header:hover {
  color: #21ce99;
}

.splash-header{
  font-weight: 400;
  font-size: 22px;
}

.splash-scroll {
    margin-left: 10%;
    margin-right: 8%;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
}

.first {
    margin-top: 5%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

.invest-commission-blurb {
    margin-top: 20%;
    float: left;
    color: #040D14;
    left: 10%;
    top: 50%;
    z-index: 0;
}

.splash-scroll h1 {
    font-size: 46px;
    line-height: 120%;
    white-space: nowrap;
}

.splash-scroll h3 {
    margin-top: 10%;
    font-size: 16px;
    line-height: 180%;
    font-weight: 200;
}

.invest-com-free {
    max-width: 80%;
    height: auto;
    margin-right: 10%;
}

.second {
    margin-top: 5%;
    padding-top: 5%;
    display: flex;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.second h2 {
    margin-top: 2%;
    font-size: 36px;
    color: #fff;
    font-weight: 900;
    letter-spacing: 0.01em;
    position: absolute;
    left: 15%;
    line-height: 36px;
    white-space: nowrap;
}

.cat-pic {
    max-width: 70%;
    height: auto;
}

.third {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.no-manual-blurb {
    z-index: 1;
    right: 25%;
}

.no-manual-pic {
    max-width: 60%;
    height: auto;
}

.bottom-splash-scroll {
    color: #040D14;
}

.fourth, .fifth {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.next-level-blurb {
    float: right;
    width: 50%;
    background: #040D14;
}

.next-level-div {
    width: 50%;
    overflow: hidden;
}

.next-level-pic {
    top: 2px;
    margin-top: -70%;
    margin-left: -25%;
    height: 220%;
    width: auto;
    z-index: -2;
    background: #040D14;
}

.bottom-splash-scroll h1 {
    margin-top: 25%;
    font-size: 46px;
    line-height: 120%;
    white-space: nowrap;
    color: #fff;
    z-index: 5;
}

.bottom-splash-scroll h3 {
    margin-top: 5%;
    font-size: 16px;
    line-height: 180%;
    font-weight: 200;
    color: #fff;
}

.keep-tabs-div {
    width: 40%;
    overflow: hidden;
}

.keep-tabs-pic {
    top: 2px;
    margin-top: -5%;
    margin-left: -25%;
    height: 110%;
    width: auto;
    z-index: -2;
}

.keep-tabs-blurb {
    margin-top: 5%;
    margin-right: 10%;
}

.keep-tabs-blurb h1, .keep-tabs-blurb h3 {
    color: #040D14;
}

.sixth {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    height: 750px;
    width: 100%;
    overflow: hidden;
    background: #040D14;
}

.trusted-blurb h1, .trusted-blurb h3 {
    margin-top: 5%;
    color: #fff;
    text-align: center;
    margin: none;
    padding: none;
}

.trusted-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #040D14;
}

.eagle-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.trusted-pic {
    margin-top: 15%;
    max-width: 30%;
    height: auto;
}

.trusted-blurb a {
    color: #21ce99;
    font-weight: 500;
    text-decoration: none;
}

.trusted-blurb a:hover {
    text-decoration: underline;
}

.seventh {
    display: flex;
    justify-content: center;
    background: #21ce99;
}

.get-started-div {
    justify-content: center;
    align-content: center;
    height: 500px;
    background: #21ce99;
}

.get-started-blurb{
    text-align: center;
}

.get-started-div h1 {
    color: black;
}

.get-started-div h3 {
    color: black;
}

.get-started-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.get-started-button button {
    color: #21ce99;
    background: white;
}

.get-started-button button:hover {
    box-shadow: 3px 2px 10px 2px rgb(129, 129, 129);
}

.eight {
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    display: flex;
    flex-direction: row;
}

.eight div {
    width: 50%;
    margin-right: 2%;
    margin-left: 2%
}

.eight div p {
    color: #A7AAAC;
    line-height: 150%;
    font-size: 10px;
}

.eight a {
    color: #21ce99;
    text-decoration: none;
    font-weight: 500;
}

.eight a:hover {
    text-decoration: underline;
}




