.nav-bar {
    padding-top: 1%;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: white;
}

.splash-header {
    margin-left: 10%;
    margin-right: 3%;
}

.esther-links {
    display: flex;
    align-items: baseline;
    width: 100%;
    height: 60px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.links-buttons {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.esther-links a, .login-redirect-button {
    font-size: 16px;
    color: #140d14;
    letter-spacing: 0.32px;
    font-weight: 800;
    text-decoration: none;
}

.login-signup-buttons {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    width: 200px;
    margin-right: 10%;
    z-index: 1;
}

.login-redirect-button {
    border: none;
    margin-right: 15%;
}

.signup-redirect-button {
    padding: 0 24px;
    background-color: #21ce99;
    border: 0;
    color: #fff;
    border-radius: 36px;
    height: 48px;
    font-size: 17px;
    font-weight: 600;
}

.signup-redirect-button:hover {
    box-shadow: 2.5px 2px 4px 2px rgb(226, 226, 226);
    transition: background-color 300ms, box-shadow 300ms;
    transition-property: background-color, box-shadow;
    transition-duration: 300ms, 300ms;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}

.login-redirect-button:hover {
    color: #21ce99;
}

#linkedin:hover, #github:hover {
    color: #21ce99;
}

#linkedin {
    margin-right: 30%;
}

.splash-header {
  background: none;
  border: none;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 0;
}

.splash-header:focus {
  outline: none;
}

.splash-header:hover {
  color: #21ce99;
}

.splash-header{
  font-weight: 400;
  font-size: 22px;
}

.splash-scroll {
    margin-left: 10%;
    margin-right: 10%;
    overflow-x: hidden;
    z-index: -1;
}

.splash-scroll section img {
    margin-top: 6%;
    max-width: 70%;
    height: auto;
}

.first {
    display: flex;
    justify-content: space-between;
}

.invest-commission-blurb {
    margin-top: 20%;
    color: #040D14;
}

.invest-commission-blurb h1 {
    font-size: 46px;
    line-height: 120%;
    overflow: visible;
    white-space: nowrap;
}

.invest-commission-blurb h3 {
    margin-top: 10%;
    font-size: 16px;
    line-height: 180%;
    font-weight: 200;
    z-index: 1;
}

.second {
    margin-top: 5%;
    display: flex;
    /* justify-content: flex-start; */
    background-color: black;
    width: 100%;
    max-height: 10%;
}

.second h2 {
    margin-top: 8%;
    font-size: 36px;
    color: #fff;
    font-weight: 900;
    letter-spacing: 0.01em;
    line-height: 36px;
    margin-left: 10%;
}

.second img {
    max-height: 5%;
    margin-right: 10%;
    /* object-fit: fill; */
}