.login-form-container{
    -webkit-box-align: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    -webkit-box-flex: 1;
    justify-content: center;
    flex: 1 1 50%;
    /* overflow: hidden; */
    position: absolute;
    overflow-y: scroll;
}

.login-form-box{
    display: block;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-box-pack: center;
    overflow: visible;
    margin-left: 52px;
    margin-right: 20%;
    flex-basis: 50%;
    white-space: nowrap;
    margin-top: 15%;
    top: 50%;
    left: 50%;
    transform: translate(0%, -5%);
}

.login-form label {
    font-weight: 300;
    font-size: 11.5px;
}

.login-form-box h2 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.login-form-box h2{
    font-size: 26px;
    font-weight: 500;
    word-spacing: px;
    letter-spacing: -0.14px;
    line-height: 30px;
    margin: 0 0 16px;
    margin-bottom: 30px;
}

.login-form-box label{
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 9px 0;
    color: #171718;
}

.login-input {
    border: 1px solid white;
    background-color: #fafafa;
    font-size: 15px;
    font-weight: 250;
    color: #040d14;
    border-radius: 4px;
    height: 45px;
    line-height: 1.5em;
    outline: 0;
    padding: 0 13px;
    -webkit-transition: border-color 200ms;
    transition: border-color 200ms;
    width: 400px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.login-input:hover {
    border: 1px solid Gainsboro;
    background-color:white;
}

.login-input:focus {
    border: 1px solid #21ce99;
    background-color:white;
}

.invalid-credentials {
    display: flex;
    margin-top: 2%;
    font-size: 11px;
    font-weight: 400;
    align-items: center;
}

.fa-exclamation-circle {
    margin-right: 1.5%;
}

.redirect-button {
    color: #21ce99;
    background-color: white;
    font-weight: 500;
    font-size: 11px;
    width: 25%;
    height: 2%;
    text-align: left;
    border: none;
    padding: 0px;
    margin-top: 1%;
}

.session-submit {
    background: #21ce99;
    border-color: #21ce99;
    font-family: inherit;
    font-size: 12.5px;
    font-weight: 500;
    letter-spacing: normal;
    color: white;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    width: 125px;
    padding: 2.5%;
    margin-top: 6%;
}

.login-form-img{
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0;
    display: inline-block;
    width: 50%;
    background-size: cover;
}

.login-form-img img{
    background-position: center;
    height: 100%;
    min-width: 600px;
    padding: 0;
    border: 0;
    margin: 0;
}
