.nav-bar {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    width: 100%; 
    background-color: white;
    position: sticky;
}

.nav-logo {
    margin-left: 5%;
    margin-right: 1.5%;
    background: transparent;
    border: none;
    position: absolute;
}

.nav-logo i:hover {
    color: #21ce99;
}

.nav-logo i {
    font-size: 36px;
    color: #040D14;
}

.nav-logo:focus {
    outline: 0;
}

.search-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    width: 60%;
    margin-right: 5%;
}

.nav-search {
    width: 100%;
    height: 36px;
    border: 2px solid pink;
    background-color: white;
}

.nav-search {
    border: 1px solid Gainsboro;
    box-sizing: border-box;
    background: white;
    font-size: 13px;
    font-weight: 250;
    color: #040d14;
    border-radius: 4px;
    line-height: 1.5em;
    outline: 0;
    padding: 0 13px;
    margin-top: 1%;
    margin-bottom: 1%;
    min-width: 100px;
}

.nav-search:hover {
    background: white;
    box-shadow: 2.5px 2px 10px 4px rgb(219, 219, 219);
}

.search-container ul {
    border-left: 1px solid Gainsboro;
    border-right: 1px solid Gainsboro; 
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 22px;
    background: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 10px 8px rgb(219, 219, 219);
    padding-left: 2.5%;
}

.search-container ul li {
    display: block;
    padding-top: 1.5%;
    padding-bottom: 1.75%;
    list-style-type: none;
    font-weight: 500;
    display: block;
}

.search-container ul li:hover {
    background: #EEF1F7;
}

.search-result div{
    display: inline-block;
}

.ticker-search {
    width: 15%;
}

.nav-searchbar-links {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    width: 50%;
}

.personal-links-user {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 15%;
}

.personal-links-user a:hover{
    color: #21ce99;
}

.personal-links-user a {
    cursor: default;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #040d14;
    margin-left: 4%;
}

.signout-button {
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    border: none;
    background: none;
    white-space: nowrap;
    margin-left: 4%;
}

.signout-button:hover{
    color: #21ce99;
}

.signout-button:focus {
    outline:0;
}

.user-financials {
    display: flex;
    border: 2px solid pink;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 40%;
    position: absolute;
}
