.sidebar {
    display: inline-block;
    align-items: center;
    width: 225px;
    max-height: 600px;
    overflow-y: scroll !important;
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
    background: white;
    box-sizing: border-box;
    overflow-y: scroll;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48, 51, 51, 0.09);
}

.sidebar-header {
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 600;
    border-top: 1px solid #f4f4f5;
    border-bottom: 1px solid #f4f4f5;
}

.watchlist-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
}

.watchlist-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    padding-left: 10%;
    padding-right: 10%;
}

.price-positive {
    color: #21ce99;
}

.price-negative {
    color: #F45531;
}

.share-quantity {
    color: #b1bfc4;
}

.watchlist-item:hover {
    background-color: #fafafa;
}

.watchlist-item-ticker {
    font-weight: 600;
}


