.sidebar {
    display: inline-block;
    align-items: center;
    position: absolute;
    width: 225px;
    height: 80%;
    top: 18%;
    right: 10%;
    padding: 1%;
    box-sizing: border-box;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48, 51, 51, 0.09);
}

.sidebar-header {
    margin: 0;
    padding: 0;
}

.watchlist-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
}

.watchlist-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid pink;
    height: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.price-positive {
    color: #21ce99;
}

.price-negative {
    color: #F45531;
}

.share-quantity {
    color: #b1bfc4;
}

.watchlist-item:hover {
    background-color: #fafafa;
}

.watchlist-item-ticker {
    font-weight: 600;
}


