.sidebar {
    display: inline-block;
    align-items: center;
    position: absolute;
    border: 1px solid black;
    width: 225px;
    height: 400px;
    top: 18%;
    right: 10%;
}

.sidebar-header {
    margin: 0;
    padding: 0;
}

.watchlist-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
}

.watchlist-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid pink;
    height: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.watchlist-item:hover {
    background-color: #fafafa;
}

.watchlist-item-ticker {
    font-weight: 600;
}


